body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1136px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:66px;
  top:91px;
  width:1075px;
  height:387px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:165px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u3 {
  position:absolute;
  left:169px;
  top:0px;
  width:175px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u5 {
  position:absolute;
  left:344px;
  top:0px;
  width:160px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:30px;
}
#u7 {
  position:absolute;
  left:504px;
  top:0px;
  width:566px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:562px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:169px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:165px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u11 {
  position:absolute;
  left:169px;
  top:30px;
  width:175px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u13 {
  position:absolute;
  left:344px;
  top:30px;
  width:160px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:30px;
}
#u15 {
  position:absolute;
  left:504px;
  top:30px;
  width:566px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:562px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:161px;
}
#u17 {
  position:absolute;
  left:0px;
  top:60px;
  width:169px;
  height:161px;
}
#u18 {
  position:absolute;
  left:2px;
  top:72px;
  width:165px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:161px;
}
#u19 {
  position:absolute;
  left:169px;
  top:60px;
  width:175px;
  height:161px;
}
#u20 {
  position:absolute;
  left:2px;
  top:72px;
  width:171px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:161px;
}
#u21 {
  position:absolute;
  left:344px;
  top:60px;
  width:160px;
  height:161px;
}
#u22 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:161px;
}
#u23 {
  position:absolute;
  left:504px;
  top:60px;
  width:566px;
  height:161px;
  text-align:left;
}
#u24 {
  position:absolute;
  left:2px;
  top:32px;
  width:562px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:161px;
}
#u25 {
  position:absolute;
  left:0px;
  top:221px;
  width:169px;
  height:161px;
}
#u26 {
  position:absolute;
  left:2px;
  top:72px;
  width:165px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:161px;
}
#u27 {
  position:absolute;
  left:169px;
  top:221px;
  width:175px;
  height:161px;
}
#u28 {
  position:absolute;
  left:2px;
  top:72px;
  width:171px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:161px;
}
#u29 {
  position:absolute;
  left:344px;
  top:221px;
  width:160px;
  height:161px;
}
#u30 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:161px;
}
#u31 {
  position:absolute;
  left:504px;
  top:221px;
  width:566px;
  height:161px;
  text-align:left;
}
#u32 {
  position:absolute;
  left:2px;
  top:56px;
  width:562px;
  word-wrap:break-word;
}
