body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:948px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  position:absolute;
  left:10px;
  top:35px;
  width:375px;
  height:30px;
}
#u831 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
}
#u832 {
  position:absolute;
  left:10px;
  top:10px;
  width:375px;
  height:25px;
}
#u833 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u834 {
  position:absolute;
  left:345px;
  top:39px;
  width:26px;
  height:22px;
}
#u835 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:10px;
  top:35px;
  width:70px;
  height:30px;
}
#u838 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u839 {
  position:absolute;
  left:37px;
  top:42px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u841 {
  position:absolute;
  left:22px;
  top:41px;
  width:11px;
  height:19px;
  color:#CCCCCC;
}
#u842 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u843 {
  position:absolute;
  left:172px;
  top:42px;
  width:52px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  position:absolute;
  left:10px;
  top:65px;
  width:375px;
  height:30px;
}
#u846 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u847 {
  position:absolute;
  left:164px;
  top:69px;
  width:68px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u849 {
  position:absolute;
  left:28px;
  top:71px;
  width:19px;
  height:19px;
}
#u850 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u851 {
  position:absolute;
  left:358px;
  top:72px;
  width:17px;
  height:17px;
}
#u852 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u853 {
  position:absolute;
  left:327px;
  top:72px;
  width:17px;
  height:17px;
}
#u854 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:680px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:10px;
  top:95px;
  width:375px;
  height:680px;
}
#u856 {
  position:absolute;
  left:2px;
  top:332px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:78px;
  background:inherit;
  background-color:rgba(26, 25, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:10px;
  top:697px;
  width:375px;
  height:78px;
}
#u859 {
  position:absolute;
  left:2px;
  top:31px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u861 {
  position:absolute;
  left:135px;
  top:706px;
  width:127px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u863 {
  position:absolute;
  left:65px;
  top:748px;
  width:266px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u866 {
  position:absolute;
  left:121px;
  top:727px;
  width:174px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u868 {
  position:absolute;
  left:102px;
  top:727px;
  width:15px;
  height:15px;
}
#u869 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u870 {
  position:absolute;
  left:33px;
  top:186px;
  width:150px;
  height:150px;
}
#u871 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u872 {
  position:absolute;
  left:213px;
  top:186px;
  width:150px;
  height:150px;
}
#u873 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u874 {
  position:absolute;
  left:38px;
  top:346px;
  width:141px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u876 {
  position:absolute;
  left:218px;
  top:346px;
  width:141px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:38px;
  top:388px;
  width:86px;
  height:16px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:218px;
  top:388px;
  width:86px;
  height:16px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u882 {
  position:absolute;
  left:33px;
  top:427px;
  width:150px;
  height:150px;
}
#u883 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u884 {
  position:absolute;
  left:38px;
  top:587px;
  width:141px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:38px;
  top:629px;
  width:86px;
  height:16px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:11px;
  top:105px;
  width:373px;
  height:51px;
}
#u889 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  position:absolute;
  left:94px;
  top:123px;
  width:29px;
  height:16px;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:275px;
  top:123px;
  width:29px;
  height:16px;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u894 {
  position:absolute;
  left:123px;
  top:121px;
  width:20px;
  height:20px;
}
#u895 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u896 {
  position:absolute;
  left:304px;
  top:123px;
  width:16px;
  height:16px;
}
#u897 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:680px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:11px;
  top:95px;
  width:374px;
  height:680px;
  opacity:0.85;
}
#u899 {
  position:absolute;
  left:2px;
  top:332px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:69px;
  top:105px;
  width:316px;
  height:670px;
}
#u901 {
  position:absolute;
  left:2px;
  top:327px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:69px;
  top:95px;
  width:316px;
  height:46px;
}
#u903 {
  position:absolute;
  left:2px;
  top:15px;
  width:312px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u904 {
  position:absolute;
  left:84px;
  top:110px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u905 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:84px;
  top:161px;
  width:152px;
  height:16px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:84px;
  top:193px;
  width:101px;
  height:33px;
}
#u909 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  position:absolute;
  left:196px;
  top:193px;
  width:101px;
  height:33px;
}
#u911 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:84px;
  top:238px;
  width:82px;
  height:33px;
}
#u913 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:84px;
  top:297px;
  width:152px;
  height:16px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:84px;
  top:327px;
  width:101px;
  height:33px;
}
#u917 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:196px;
  top:327px;
  width:101px;
  height:33px;
}
#u919 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:84px;
  top:382px;
  width:152px;
  height:16px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u922 {
  position:absolute;
  left:84px;
  top:413px;
  width:101px;
  height:33px;
  color:#D7D7D7;
}
#u923 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u924 {
  position:absolute;
  left:215px;
  top:413px;
  width:101px;
  height:33px;
  color:#D7D7D7;
}
#u925 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u926 {
  position:absolute;
  left:190px;
  top:420px;
  width:14px;
  height:16px;
  text-align:center;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928 {
  position:absolute;
  left:178px;
  top:238px;
  width:81px;
  height:33px;
}
#u929 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  position:absolute;
  left:227px;
  top:735px;
  width:158px;
  height:40px;
}
#u931 {
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:82px;
  top:471px;
  width:152px;
  height:16px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:82px;
  top:501px;
  width:84px;
  height:33px;
}
#u935 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:176px;
  top:501px;
  width:65px;
  height:33px;
}
#u937 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:251px;
  top:501px;
  width:69px;
  height:33px;
}
#u939 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:251px;
  top:501px;
  width:69px;
  height:33px;
  opacity:0.5;
}
#u941 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:69px;
  top:735px;
  width:158px;
  height:40px;
}
#u943 {
  position:absolute;
  left:2px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u944 {
  position:absolute;
  left:165px;
  top:422px;
  width:15px;
  height:15px;
}
#u945 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u946 {
  position:absolute;
  left:294px;
  top:422px;
  width:15px;
  height:15px;
}
#u947 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:215px;
}
#u948 {
  position:absolute;
  left:77px;
  top:151px;
  width:302px;
  height:215px;
  font-size:14px;
  color:#FF3399;
}
#u949 {
  position:absolute;
  left:2px;
  top:100px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:471px;
  top:238px;
  width:239px;
  height:16px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:107px;
}
#u952 {
  position:absolute;
  left:76px;
  top:463px;
  width:302px;
  height:107px;
  font-size:14px;
  color:#FF3399;
}
#u953 {
  position:absolute;
  left:2px;
  top:46px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:471px;
  top:488px;
  width:477px;
  height:16px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u956 {
  position:absolute;
  left:477px;
  top:296px;
  width:150px;
  height:40px;
}
#u957 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
